<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a id="site-name" class="navbar-brand" href="#">爱简历</a>
   </div>
   <div>
       {% if request.session.account %}
            <div class="dropdown navbar-right">
               <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                  data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> 我的空间
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation" class="dropdown-header">管理</li>
                  <li role="presentation" >
                     <a role="menuitem" tabindex="-1" href="#">个人信息</a>
                  </li>
                  <li role="presentation" >
                     <a role="menuitem" tabindex="-1" href="#">编辑</a>
                  </li>
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="#">预览</a>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" class="dropdown-header">导出</li>
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="#">文本文件</a>
                  </li>
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="#">Html文件</a>
                  </li>
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="#">Pdf文件</a>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" class="dropdown-header">其他</li>
                  <li role="presentation">
                     <a role="menuitem" tabindex="-1" href="#">登出</a>
                  </li>
               </ul>
            </div>
       {% else %}
            <form action="/login">
                <input type="submit" class="navbar-right" value="QQ登陆">
           </form>
       {% endif %}
   </div>
</nav>