.big_container{
    margin-right: auto;
    margin-left: auto;
}

#head_container{
    width: 80%;
    margin: 0 auto;
}

#middle_container{
    clear: both;
    padding-top: 20px;
}

#foot_container{
    padding-top: 20px;
    float: right;
}